$dark: #000117;
$black: #000;
$gray: gray;
$blue: #2401d8;
$green: #5bc915;
$orange: #da5b0d;
$purple: #b601ff;
$red: #d9163b;
$turqoise: #00b4d3;
$yellow: #d6b012;

$font-family: 'Audiowide', sans-serif;

$border-cut: 2vh;